<table>
    <tr>
        <td><a href="index">Home</a></td>
        <td><a href="weekzero">Notes</a></td>
        <td><a href="replit">Replit</a></td>
        <td><a href="createtask">Create Task</a></td>
        <td><a href="code">Code Snippets</a></td>
        <td><a href="corrections">Test Corrections</a></td>
        <td><a href="studyplan">Study Plan</a></td>
        <td><a href="quiz3corrections">Test 3 Corrections</a></td>
        <td><a href="quiz5corrections">Quiz 5 Corrections</a></td>
        <td><a href="documentation">Documentation</a></td>

    </tr>
</table>
